<main id="services">
  <!-- <div class="header">
    <h2 class="header-title heading-primary text-center">
      We offer variety of services
    </h2>
    <h3 class="heading-secondary">appointment</h3>
    <h3 class="heading-secondary">hospital registration</h3>
  </div> -->
  <div class="typing-div">
    <p class="type">Sick? Looking for a hospital? Or a Doctor?</p>
    <p id="typing" class="type">
      Don't worry! We're here to help you :)<span>|</span>
    </p>
  </div>

  <div class="container">
    <div class="row">
      <div class="col-5">
        <img src="../../assets/Images/hospital.jpg" alt="hospital" />
      </div>
      <div class="col-7">
        <h1 class="display-4">
          <strong>Search For Hospitals </strong>
        </h1>
        <p
          class="lead"
          style="font-size: 17px; word-spacing: 2px"
          style="font-size: 17px; word-spacing: 2px"
        >
          Search for the best hospitals from our hospitals network to avail
          cashless treatment with our Health Insurance Plans, on top of this get
          your treatments done at the best hospital in your city.
        </p>
        <hr class="my-4" />
        <p class="lead">
          <a
            class="btn btn-outline-dark btn-lg"
            role="button"
            routerLink="/hospitals"
            >Search Now</a
          >
        </p>
      </div>
    </div>

    <div class="row">
      <div class="col-7">
        <h1 class="display-4"><strong> Find a Doctor </strong></h1>
        <p class="lead" style="font-size: 17px; word-spacing: 2px">
          Say Hello to India’s top doctors via video consultation, get digital
          prescriptions, order medicines, book doctor appointments & lab tests,
          find doctors near you, get health packages, ask a free health question
          to doctors
        </p>
        <hr class="my-4" />
        <p class="lead">
          <a
            class="btn btn-outline-dark btn-lg"
            role="button"
            routerLink="/doctors"
            >Find a Doctor</a
          >
        </p>
      </div>
      <div class="col-5">
        <img src="../../assets/Images/doctor.png" alt="doctor" />
      </div>
    </div>

    <div class="row">
      <div class="col-5">
        <img src="../../assets/Images/vaccine.jpg" alt="vaccine" />
      </div>
      <div class="col-7">
        <h1 class="display-4"><strong> Look For Nearby LabCentres </strong></h1>
        <p class="lead" style="font-size: 17px; word-spacing: 2px">
          Browse through the nearest diagnostic service centres from over 190+
          clinical pathology laboratories and 1700+ patient service centres.
        </p>
        <hr class="my-4" />

        <p class="lead">
          <a
            class="btn btn-outline-dark btn-lg"
            role="button"
            routerLink="/centres"
            >Look Now</a
          >
        </p>
      </div>
    </div>
  </div>
</main>
