@import "../../assets/utilities";
main {
  width: 100%;
  margin-bottom: 10rem;
  // background: url(../../assets/Images/clip-711.png);
  // background-size: cover;
  // background-position: center;
}

.type {
  color: $color-primary-dark;
  font-size: 2.5rem;
  line-height: 27px;
  margin: 10px 0 0 10px;
  white-space: nowrap;
  overflow: hidden;
  width: 30em;
  animation: type 4s steps(60, end);
}

#typing {
  animation: type2 8s steps(60, end);
}

span {
  animation: blink 1s infinite;
}

@keyframes type {
  from {
    width: 0;
  }
}

@keyframes type2 {
  0% {
    width: 0;
  }
  50% {
    width: 0;
  }
  100% {
    width: 100;
  }
}

@keyframes blink {
  to {
    opacity: 0;
  }
}

.typing-div {
  display: block;
  width: 35%;
  margin: auto;
  height: 150px;
  padding: 20px;
  margin-top: 60px;
  margin-bottom: 70px;
}

img {
  width: 100%;
  border-radius: 18px;
  height: 300px;
}

.row {
  margin: 30px;
}
.display-4 {
  color: $color-secondary-dark;
}
