.list-group-item {
  text-align: center;
  padding: 12px;
  margin: 4px;
}

.row {
  margin: 12px;
}

.btn {
  width: 40%;
  float: left;
}
.btns {
  display: flex;
  justify-content: center;
  align-items: center;
}
