<main id="news">
  <h2 class="text-center heading-secondary">Recent From the Web</h2>
  <h2 class="text-center heading-primary my-5">Latest Updates</h2>
  <section class="blogs-section">
    <div class="blog-box container">
      <div class="row">
        <div class="col-6 blog-box--img text-center">
          <img src="../../assets/Images/cov-9.jpg" alt="" />
        </div>
        <div class="col-6 blog-box--text text-center">
          <p class="paragraph">
            The emergency committee of the World Health Organization (WHO) has
            warned about the “strong likelihood” for the emergence of more
            virulent and dangerous variants of coronavirus that may be more
            challenging to control. After the eighth emergency committee meeting
            on Wednesday regarding the coronavirus disease (Covid-19), the WHO
            experts released a statement saying the pandemic remains a challenge
            globally. “The Committee recognised the strong likelihood for the
            emergence and global spread of new and possibly more dangerous
            variants of concern that may be even more challenging to control,”
            the experts said.
          </p>
          <a href="#" class="blog-box--link">Read More &nbsp;&rarr;</a>
        </div>
      </div>
    </div>
    <div class="blog-box container">
      <div class="row">
        <div class="col-6 blog-box--img text-center">
          <img src="../../assets/Images/covid-vac.jpg" alt="" />
        </div>
        <div class="col-6 blog-box--text text-center">
          <p class="paragraph">
            Even as health experts and an SBI report warn of the third wave of
            coronavirus infections hitting India in August next month, the daily
            caseload on Tuesday plunged to a four-month low, the bulletin by the
            health ministry said. At 34,703, India logged the lowest cases in
            the last 111 days, the official data said. The number of Covid
            fatalities has also gone down. The health ministry says that 553
            people lost their lives due to Covid and related complications in
            the last 24 hours. This was the lowest fatality figure in 91 days.
            The national recovery rate has improved marginally to 97.17 per
            cent.
          </p>
          <a href="#" class="blog-box--link">Read More &nbsp;&rarr;</a>
        </div>
      </div>
    </div>
  </section>
  <section class="multiple-article container">
    <div class="card-deck">
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/Images/84427657.jpg"
          alt=""
        />
        <div class="card-body">
          <p class="card-text paragraph">
            No application received for EU authorisation of Covishield, says
            European Medicines Agency The European Medicines Agency (EMA) said
            "For the COVID-19 vaccine Covishield to be evaluated for use in the
            EU, the developer needs to submit a formal marketing authorisation
            application to EMA, which to date has not been received," the EMA
            said at a press briefing. <br />
            <a href="#" class="blog-box--link">Read More &nbsp;&rarr;</a>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted paragraph">Last updated yesterday</small>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/Images/84458752.jpg"
          alt=""
        />
        <div class="card-body">
          <p class="card-text paragraph">
            NEW DELHI: The government is placing its largest order yet of Covid
            vaccines at 66 crore doses worth Rs 14,505 crore to procure
            Covishield and Covaxin shots that will help it to substantially meet
            Court. Apart from the order for 66 crore doses, the government has
            made an advance payment to reserve 30 crore doses of Hyderabad based
            Biological-E’s Corbevax vaccine, official sources said <br />
            <a href="#" class="blog-box--link">Read More &nbsp;&rarr;</a>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted paragraph">Last updated 1 day ago</small>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/Images/84460797.jpg"
          alt=""
        />
        <div class="card-body">
          <p class="card-text paragraph">
            MUMBAI: The AY.1 and AY.2 sub-lineages of the Delta variant are its
            latest bulletin. The detection of 21 cases of the AY.1 sub-lineage,
            called ‘Delta plus’, in June had stoked fears of increased
            transmission or even an early onset of the third wave in
            Maharashtra. A month later, districts where Delta plus cases were
            found have not seen any unusual surge in cases or deaths in those
            pockets. <br />
            <a href="#" class="blog-box--link">Read More &nbsp;&rarr;</a>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted paragraph">Last updated 45 mins ago</small>
        </div>
      </div>
    </div>
    <div class="card-deck mt-5">
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/Images/84463832.png"
          alt=""
        />
        <div class="card-body">
          <p class="card-text paragraph">
            NEW DELHI: India today recorded 38,949 new Covid-19 cases, abd 542
            deaths in the last 24 hours, said the Union health ministry data.
            The total infection tally is now 3,10,26,829, while the death toll
            reached 4,12,531. According to the data updated at 8 am, the active
            cases have declined to 4,30,422 and comprise 1.39 per cent of the
            total infections, while the national Covid-19 recovery rate stands
            at 97.28 per cent. <br />
            <a href="#" class="blog-box--link">Read More &nbsp;&rarr;</a>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted paragraph">Last updated 4 hours ago</small>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/Images/159073-jedckwqxon-1621050319.jpg"
          alt=""
        />
        <div class="card-body">
          <p class="card-text paragraph">
            Haryana reported 60,397 excess deaths between April 2020 and May
            this year, The Hindu reported on Thursday, citing data from the
            state’s civil registration system. The number is 7.3 times higher
            than the official Covid-19 toll of 8,303 in Haryana during the same
            period. While all excess deaths are not likely to be due to
            Covid-19, a majority of them are expected to be linked to the
            coronavirus disease during the pandemic. <br />
            <a href="#" class="blog-box--link">Read More &nbsp;&rarr;</a>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted paragraph">Last updated a week ago</small>
        </div>
      </div>
      <div class="card">
        <img
          class="card-img-top"
          src="../../assets/Images/medicine-1.jpg"
          alt=""
        />
        <div class="card-body">
          <p class="card-text paragraph">
            A trial has now addressed that question, as well as what effect
            combining different vaccine types has on immunity. Most Covid-19
            vaccines require two doses, and the usual strategy is to give people
            the same vaccine type for both. But the Com-Cov study, led by the
            University of Oxford, recruited over 800 participants from across
            the UK to investigate the effects of giving people different
            vaccines for their first and second jabs. Two vaccines were studied:
            those made by Pfizer and AstraZeneca. <br />
            <a href="#" class="blog-box--link">Read More &nbsp;&rarr;</a>
          </p>
        </div>
        <div class="card-footer">
          <small class="text-muted paragraph">Last updated 5 days ago</small>
        </div>
      </div>
    </div>
  </section>
  <br />
  <br />
  <br />
</main>
