<main>
  <div class="container-box">
    <div class="form-container">
      <form
        [formGroup]="validation"
        class="signin-form"
        (ngSubmit)="checkForm()"
      >
        <h2 class="title">Sign In To Your Account</h2>
        <input
          type="email"
          name="email"
          id="email"
          placeholder="Enter Your Email"
          formControlName="email"
        />
        <span
          *ngIf="submitted && !this.validation.value.email"
          style="color: red"
          >* Email is Required</span
        >
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Password"
          formControlName="password"
        />
        <span
          *ngIf="submitted && !this.validation.value.password"
          style="color: red"
          >* password is Required</span
        >
        <button type="submit" class="btn btn-submit">log in</button>
      </form>
    </div>
    <div class="panel-container">
      <div class="content">
        <h3 class="content-heading">New here ?</h3>
        <a routerLink="/register/signup" class="btn btn-transparent">Sign Up</a>
      </div>
      <img
        src="../../assets/Images/undraw_maker_launch_crhe.svg"
        class="image"
        alt=""
      />
    </div>
  </div>
</main>
