<main>
  <section id="footer">
    <div class="row">
      <div class="footer-first col-4">
        <div class="logo">
          <img
            src="../../assets/Images/undraw_medicine_b1ol.svg"
            alt=""
            width="150"
          />
        </div>
        <p class="para">
          Here at MEDICARE we are committed to help the community in any way we
          can. We try are best to provide all the resources and information
          necessary for all the people. We keep our website up to date to
          accordingly to information provided by WHO and all the hospitals who
          offered their services. We also have a variety of doctors who offer
          their services to the community.you can check for bed availability and
          book appointment to best doctors directly. If you have any questions,
          please feel free to contact our team at our contact us page.
        </p>
      </div>
      <div class="footer-second col-4">
        <h2>Useful Links</h2>
        <ul class="footer-links">
          <li class="list-item"><a routerlink="/" class="btn">Home</a></li>
          <li class="list-item">
            <a routerLink="services" class="btn">Services</a>
          </li>
          <li class="list-item"><a href="#" class="btn">Terms</a></li>
          <li class="list-item">
            <a routerLink="doctors" class="btn">Appointment</a>
          </li>
          <li class="list-item">
            <a routerLink="contact" class="btn">contact</a>
          </li>
          <li class="list-item">
            <a routerLink="contact" class="btn">Feedback</a>
          </li>
        </ul>
      </div>
      <div class="col-4 footer-third">
        <h2 class="heading-secondary" style="color: #ddd; font-size: 25px">
          Subscribe To our newsletter
        </h2>
        <input
          type="email"
          name="newsletter"
          id="newsletter"
          placeholder="Enter Your Email"
        />
        <button type="submit" class="btn btn-newsletter">Subscribe</button>
        <p style="color: #bbb; margin-left: 16px">We won't spam your inbox</p>
        <p class="newsletter-text">
          We will provide all the necessary and updated information about the
          covid and health precautions to keep you safe.We are here to help you
          in difficult times like these. For further info you can also visit
          Official site of world health organization
          <a href="http://www.who.int">Here</a> <br />
          <br />
          STAY HOME STAY SAFE!
        </p>
      </div>
    </div>
    <div class="footer-end">
      <div class="copy">
        All rights reserved &copy;
        <a href="#">MEDICARE</a>
      </div>
      <div class="a"></div>
    </div>
  </section>
</main>
