<div class="container" style="margin: 40px">
  <h1 style="text-align: center; margin: 20px">Responses</h1>

  <div class="row">
    <div class="col-4">
      <div
        class="card"
        style="border-radius: 12px; border: 2px solid black; padding: 4px"
      >
        <div class="card-header" style="text-align: center">User Details</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name</li>
          <li class="list-group-item">Email</li>
          <li class="list-group-item">Phone No.</li>
          <li class="list-group-item" style="height: 4cm">Message</li>
          <div class="btns">
            <button style="margin: 4px" class="btn btn-success">Call</button>
            <button style="margin: 4px" class="btn btn-success">
              Send E-mail
            </button>
          </div>
        </ul>
      </div>
    </div>

    <div class="col-4">
      <div
        class="card"
        style="border-radius: 12px; border: 2px solid black; padding: 4px"
      >
        <div class="card-header" style="text-align: center">User Details</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name</li>
          <li class="list-group-item">Email</li>
          <li class="list-group-item">Phone No.</li>
          <li class="list-group-item" style="height: 4cm">Message</li>
          <div class="btns">
            <button style="margin: 4px" class="btn btn-success">Call</button>
            <button style="margin: 4px" class="btn btn-success">
              Send E-mail
            </button>
          </div>
        </ul>
      </div>
    </div>

    <div class="col-4">
      <div
        class="card"
        style="border-radius: 12px; border: 2px solid black; padding: 4px"
      >
        <div class="card-header" style="text-align: center">User Details</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name</li>
          <li class="list-group-item">Email</li>
          <li class="list-group-item">Phone No.</li>
          <li class="list-group-item" style="height: 4cm">Message</li>
          <div class="btns">
            <button style="margin: 4px" class="btn btn-success">Call</button>
            <button style="margin: 4px" class="btn btn-success">
              Send E-mail
            </button>
          </div>
        </ul>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-4">
      <div
        class="card"
        style="border-radius: 12px; border: 2px solid black; padding: 4px"
      >
        <div class="card-header" style="text-align: center">User Details</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name</li>
          <li class="list-group-item">Email</li>
          <li class="list-group-item">Phone No.</li>
          <li class="list-group-item" style="height: 4cm">Message</li>
          <div class="btns">
            <button style="margin: 4px" class="btn btn-success">Call</button>
            <button style="margin: 4px" class="btn btn-success">
              Send E-mail
            </button>
          </div>
        </ul>
      </div>
    </div>

    <div class="col-4">
      <div
        class="card"
        style="border-radius: 12px; border: 2px solid black; padding: 4px"
      >
        <div class="card-header" style="text-align: center">User Details</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name</li>
          <li class="list-group-item">Email</li>
          <li class="list-group-item">Phone No.</li>
          <li class="list-group-item" style="height: 4cm">Message</li>
          <div class="btns">
            <button style="margin: 4px" class="btn btn-success">Call</button>
            <button style="margin: 4px" class="btn btn-success">
              Send E-mail
            </button>
          </div>
        </ul>
      </div>
    </div>

    <div class="col-4">
      <div
        class="card"
        style="border-radius: 12px; border: 2px solid black; padding: 4px"
      >
        <div class="card-header" style="text-align: center">User Details</div>
        <ul class="list-group list-group-flush">
          <li class="list-group-item">Name</li>
          <li class="list-group-item">Email</li>
          <li class="list-group-item">Phone No.</li>
          <li class="list-group-item" style="height: 4cm">Message</li>
          <div class="btns">
            <button style="margin: 4px" class="btn btn-success">Call</button>
            <button style="margin: 4px" class="btn btn-success">
              Send E-mail
            </button>
          </div>
        </ul>
      </div>
    </div>
  </div>
</div>
