<main id="home">
  <div class="home-bg">
    <div class="container">
      <div class="text-header pb-2">
        <h1 class="text-header-title">We care about your health</h1>
        <a routerLink="services" class="btn btn-primary btn-lg">Explore Now</a>
      </div>
    </div>
  </div>
  <section class="container feature-section" id="feature-section">
    <h2 class="text-center m-4 heading-primary">OUR MAIN FEATURES</h2>
    <div class="cards-container">
      <div class="card card-1">
        <h2 class="card-title text-center">Free Consultation</h2>
        <p class="para">
          Do not compromise on your health! You must get superior medical advice
          at all times. we are committed to providing superior medical advice
          through our experienced doctors. <br />
          1) Select the type of category you would like to consult with the
          doctor.<br />
          2) Type in your concern and attach prescription, lab reports if any.
          Help doctor understand your case better. <br />
          3) A doctor is auto-assigned to you that best matches your concern.
          You will get a diagnosis and treatment for your condition.
        </p>
      </div>
      <div class="card card-2">
        <h2 class="card-title text-center">Great Medical Team</h2>
        <p class="para">
          We have a vast pool of talented and experienced team of doctors, who
          are further supported by a team of highly qualified, experienced &
          dedicated support staff & cutting edge technology like the recently
          installed Dual CT Scan. We assist you to find the experts and surgeons
          The experts will go through your medical history and will suggest you
          the appropriate plan for further treatment. After a fixed treatment
          plan is decided, We will arrange a consultation with a doctor to
          counsel if it is required by the patient
        </p>
      </div>
      <div class="card card-3">
        <h2 class="card-title text-center">Emergency Services</h2>
        <p class="para">
          Medical emergency can occur to anyone anytime. In any medical crisis,
          The spacious Emergency complex has designated Resuscitation beds,
          Triage beds, Pediatric bed, Isolation Room with shower & modular Eye
          Washer for communicable diseases and Procedure Room for minor
          procedures and decontamination facility. The support of 72-bedded
          Critical Care Unit, with specialized Medicine, Cardiac,
          Cardiothoracic, Neurological, Surgical, Burns, Gastroenterological and
          Neonatal Units provides the specialized back-up care that is essential
          for serious patients.
        </p>
      </div>
    </div>
  </section>
  <section class="appointment row" id="appointment">
    <h2 class="appointment-main col-7">Make an appointment</h2>
    <div class="col-5">
      <a href="/doctors#appointment" class="link appointment-link"
        >Book Appointment</a
      >
    </div>
  </section>
  <section class="covid container" id="covid-section">
    <h1 class="text-center m-4 heading-primary mb-5">About the covid-19</h1>
    <div class="covid-box row text-center">
      <div class="covid-img col-5">
        <img src="../../assets/Images/covid.jpg" alt="" />
      </div>
      <div class="covid-text col-7 pl-5 text-right">
        <h3 class="heading-secondary text-center">COVID-19</h3>
        <p class="paragraph">
          Coronavirus disease 2019 (COVID-19) is an infectious disease caused by
          severe acute respiratory syndrome coronavirus 2. The disease was first
          identified in 2019 in Wuhan, the capital of Hubei, China, and has
          since spread globally, resulting in the 2019–2020 coronavirus
          pandemic. Common symptoms include fever, cough, and shortness of
          breath.
          <br />
          <br />

          Other symptoms may include muscle pain, sputum production, diarrhea,
          sore throat, abdominal pain and loss of smell and taste.
        </p>
        <a href="/news" class="covid-text--link">Read More &nbsp;&rarr;</a>
      </div>
    </div>
  </section>
  <section class="sym-home" id="sym-section">
    <h2 class="heading-secondary text-center">symptoms of covid-19</h2>
    <h1 class="text-center my-5 heading-primary">What are typical symptoms</h1>
    <div class="sym-box row text-center">
      <div class="col-6">
        <div class="box row">
          <div class="box-img col-4 text-center">
            <img src="../../assets/Images/fever1.jpg" alt="" />
          </div>
          <div class="col-8">
            <h2 class="sym-heading">Fever</h2>
            <p class="para">
              Fever is key symptom, experts say. Don't fixate on number, but
              know it's really not fever until your temperature reaches at least
              39°C.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="box row">
          <div class="box-img col-4 text-center">
            <img src="../../assets/Images/cough1.jpg" alt="" />
          </div>
          <div class="col-8">
            <h2 class="sym-heading">cough</h2>
            <p class="para">
              Fever is key symptom, experts say. Don't fixate on number, but
              know it's really not fever until your temperature reaches at least
              39°C.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="sym-box row text-center">
      <div class="col-6">
        <div class="box row">
          <div class="box-img col-4 text-center">
            <img src="../../assets/Images/sore throat2.png" alt="" />
          </div>
          <div class="col-8">
            <h2 class="sym-heading">sore throat</h2>
            <p class="para">
              Coughing is another key symptom, but it's not just any cough, said
              Schaffner. It should be a dry cough that you feel in your chest.
            </p>
          </div>
        </div>
      </div>
      <div class="col-6">
        <div class="box row">
          <div class="box-img col-4 text-center">
            <img src="../../assets/Images/headache.jpg" alt="" />
          </div>
          <div class="col-8">
            <h2 class="sym-heading">Headache</h2>
            <p class="para">
              You feel hot to touch on your chest or back It is a common sign
              and also may appear in 2-10 days if you affected.
            </p>
          </div>
        </div>
      </div>
    </div>
    <div class="text-center">
      <button class="btn btn-lg btn-primary">Read More</button>
    </div>
  </section>
</main>
