<main id="doctors">
  <h1 class="heading-primary text-center">List of Doctors</h1>

  <div class="text-center">
    <div class="spinner hidden" id="spinner"></div>
    <div class="no-data hidden" id="no-data">
      <h1 class="heading-primary text-center">No data available</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-6" *ngFor="let e of this.list">
      <div class="row cards">
        <div class="col-6">
          <img src="../../assets/Images/DoctorImage.png" alt="" />
          <a
            href="#"
            class="btn btn-primary"
            style="margin: 15px 0 0 95px; font-size: 15px"
            >Book Appointment</a
          >
        </div>
        <div class="col-6">
          <ul class="list-group">
            <li class="list-group-item">
              <span
                style="
                  font-size: 1.5rem;
                  color: #121212 !important;
                  background-color: #ddd;
                  padding: 0.2rem;
                "
                >Doctor:
              </span>
              &nbsp;
              {{ e.name }}
            </li>
            <li class="list-group-item">
              <span
                style="
                  font-size: 1.5rem;
                  color: #121212 !important;
                  background-color: #ddd;
                  padding: 0.2rem;
                "
                >Specilize In:
              </span>
              &nbsp; {{ e.Specilization }}
            </li>
            <li class="list-group-item">
              <span
                style="
                  font-size: 1.5rem;
                  color: #121212 !important;
                  background-color: #ddd;
                  padding: 0.2rem;
                "
                >Experience:
              </span>
              &nbsp;{{ e.Experience }} &nbsp; Years
            </li>
            <li class="list-group-item">
              <span
                style="
                  font-size: 1.5rem;
                  color: #121212 !important;
                  background-color: #ddd;
                  padding: 0.2rem;
                "
                >Hospital:
              </span>
              &nbsp;{{ e.Hospital }}
            </li>
            <li class="list-group-item">
              <span
                style="
                  font-size: 1.5rem;
                  color: #121212 !important;
                  background-color: #ddd;
                  padding: 0.2rem;
                "
                >Available On:
              </span>
              &nbsp;{{ e.Weekday }}
            </li>
            <li class="list-group-item">
              <span
                style="
                  font-size: 1.5rem;
                  color: #121212 !important;
                  background-color: #ddd;
                  padding: 0.2rem;
                "
                >Contact no.:
              </span>
              &nbsp;{{ e.Contact }}
            </li>
          </ul>
        </div>
      </div>
    </div>
  </div>
  <!-- <div *ngFor="let i of this.list">
    {{ i.name }}
  </div> -->
  <h2
    class="heading-primary text-center"
    id="appointment"
    style="margin-top: 100px"
  >
    Book Appointment
  </h2>
  <div class="form-container container">
    <form
      action="#"
      class="appointment-wrap animate-box fadeInUp animated-fast form"
      [formGroup]="appointment"
      (ngSubmit)="bookAppointment()"
    >
      <div class="row form-group">
        <div class="col-md-6">
          <label for="fname">First Name</label>
          <input
            type="text"
            id="fname"
            class="form-control"
            placeholder="Your firstname"
            formControlName="fname"
          />
        </div>
        <div class="col-md-6">
          <label for="lname">Last Name</label>
          <input
            type="text"
            id="lname"
            class="form-control"
            placeholder="Your lastname"
            formControlName="lname"
          />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-12">
          <label for="email">Email</label>
          <input
            type="text"
            id="email"
            class="form-control"
            placeholder="Your email address"
            formControlName="email"
          />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-12">
          <label for="subject">Contact Number</label>
          <input
            type="text"
            id="subject"
            class="form-control"
            placeholder="Your Contact Number"
            formControlName="contact"
          />
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-12">
          <label for="subject">Choose Your Subject</label>
          <select
            class="selectpicker form-control"
            style="
              width: 80%;
              background-color: rgba(255, 255, 255, 0.7);
              font-size: 16px;
              color: #666;
            "
            formControlName="subject"
          >
            <option selected>Choose Your Subject</option>
            <option>Fever</option>
            <option>Heart Disease</option>
            <option>Surgery</option>
            <option>Dental</option>
            <option>Other</option>
          </select>
        </div>
      </div>
      <div class="row form-group">
        <div class="col-md-12">
          <label for="message">Message</label>
          <textarea
            name="message"
            id="message"
            cols="30"
            rows="8"
            class="form-control"
            placeholder="Your Message"
            formControlName="message"
          ></textarea>
        </div>
      </div>
      <div class="form-group">
        <input
          type="submit"
          class="btn btn-dark"
          style="font-size: 17px; background-color: lightcoral"
          value="Submit"
        />
      </div>
      <div *ngIf="submitted" style="font: size 32px; color: lightcyan">
        Details submitted successfully!
      </div>
    </form>
  </div>
</main>
