<!-- <main id="centres">
  <h1 class="heading-primary text-center">List of Lab Centers</h1>

  <div class="row">
    <div class="col-6">
      <div class="row cards">
        <div class="col-6">
          <img src="../../assets/Images/lab.jpg" alt="" />
          <button style="margin-left: 55px" class="btn btn-outline-dark">
            Message
          </button>
          <button class="btn btn-outline-dark">Call Now</button>
        </div>
        <div class="col-6">
          <ul class="list-group">
            <li class="list-group-item disabled">Lab Centre Name</li>
            <li class="list-group-item">Location</li>
            <li class="list-group-item">Lab Test Offered</li>
            <li class="list-group-item">Open Hours</li>
            <li class="list-group-item">Email</li>
            <li class="list-group-item">Contact Number</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row cards">
        <div class="col-6">
          <img src="../../assets/Images/lab.jpg" alt="" />
          <button style="margin-left: 55px" class="btn btn-outline-dark">
            Message
          </button>
          <button class="btn btn-outline-dark">Call Now</button>
        </div>
        <div class="col-6">
          <ul class="list-group">
            <li class="list-group-item disabled">Lab Centre Name</li>
            <li class="list-group-item">Location</li>
            <li class="list-group-item">Lab Test Offered</li>
            <li class="list-group-item">Open Hours</li>
            <li class="list-group-item">Email</li>
            <li class="list-group-item">Contact Number</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="row cards">
        <div class="col-6">
          <img src="../../assets/Images/lab.jpg" alt="" />
          <button style="margin-left: 55px" class="btn btn-outline-dark">
            Message
          </button>
          <button class="btn btn-outline-dark">Call Now</button>
        </div>
        <div class="col-6">
          <ul class="list-group">
            <li class="list-group-item disabled">Lab Centre Name</li>
            <li class="list-group-item">Location</li>
            <li class="list-group-item">Lab Test Offered</li>
            <li class="list-group-item">Open Hours</li>
            <li class="list-group-item">Email</li>
            <li class="list-group-item">Contact Number</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row cards">
        <div class="col-6">
          <img src="../../assets/Images/lab.jpg" alt="" />
          <button style="margin-left: 55px" class="btn btn-outline-dark">
            Message
          </button>
          <button class="btn btn-outline-dark">Call Now</button>
        </div>
        <div class="col-6">
          <ul class="list-group">
            <li class="list-group-item disabled">Lab Centre Name</li>
            <li class="list-group-item">Location</li>
            <li class="list-group-item">Lab Test Offered</li>
            <li class="list-group-item">Open Hours</li>
            <li class="list-group-item">Email</li>
            <li class="list-group-item">Contact Number</li>
          </ul>
        </div>
      </div>
    </div>
  </div>

  <div class="row">
    <div class="col-6">
      <div class="row cards">
        <div class="col-6">
          <img src="../../assets/Images/lab.jpg" alt="" />
          <button style="margin-left: 55px" class="btn btn-outline-dark">
            Message
          </button>
          <button class="btn btn-outline-dark">Call Now</button>
        </div>
        <div class="col-6">
          <ul class="list-group">
            <li class="list-group-item disabled">Lab Centre Name</li>
            <li class="list-group-item">Location</li>
            <li class="list-group-item">Lab Test Offered</li>
            <li class="list-group-item">Open Hours</li>
            <li class="list-group-item">Email</li>
            <li class="list-group-item">Contact Number</li>
          </ul>
        </div>
      </div>
    </div>

    <div class="col-6">
      <div class="row cards">
        <div class="col-6">
          <img src="../../assets/Images/lab.jpg" alt="" />
          <button style="margin-left: 55px" class="btn btn-outline-dark">
            Message
          </button>
          <button class="btn btn-outline-dark">Call Now</button>
        </div>
        <div class="col-6">
          <ul class="list-group">
            <li class="list-group-item disabled">Lab Centre Name</li>
            <li class="list-group-item">Location</li>
            <li class="list-group-item">Lab Test Offered</li>
            <li class="list-group-item">Open Hours</li>
            <li class="list-group-item">Email</li>
            <li class="list-group-item">Contact Number</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</main> -->

<h1 class="heading-primary text-center">
  WORK IN PROGRESS... THIS FEATURE WILL BE AVAILABLE SOON
</h1>

<br /><br /><br /><br /><br />
