<h2 class="heading-secondary text-center m-5">We Are Here To Help</h2>
<h1 class="heading-primary text-center m-5">Contact Us</h1>
<div class="container">
  <div class="row">
    <div class="col-6">
      <img src="../../assets/Images/contact-img.jpg" alt="image" />
    </div>
    <div class="col-6" style="padding: 20px">
      <form
        class="form"
        style="font-size: 1.6rem"
        [formGroup]="contact"
        (ngSubmit)="contactForm()"
      >
        <div class="mb-3">
          <label for="formGroupExampleInput" class="form-label"> Name</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput"
            placeholder="Enter Your Name"
            formControlName="name"
          />
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label"> Email</label>
          <input
            type="text"
            class="form-control"
            id="formGroupExampleInput2"
            placeholder="Enter Your Email"
            formControlName="email"
          />
        </div>
        <div class="mb-3">
          <label for="formGroupExampleInput2" class="form-label">
            Phone Number</label
          >
          <input
            type="number"
            class="form-control"
            id="formGroupExampleInput2"
            placeholder="Enter Your Phone Number"
            formControlName="phone"
          />
        </div>
        <div class="mb-3">
          <label for="exampleFormControlTextarea1" class="form-label"
            >Message Us</label
          >
          <textarea
            class="form-control"
            id="exampleFormControlTextarea1"
            rows="6"
            placeholder="How can we help you?"
            formControlName="message"
          ></textarea>
        </div>
        <div class="mb-3">
          <input
            type="submit"
            value="Submit"
            class="btn btn-success text-white mt-3"
          />
        </div>
        <div *ngIf="submitted" style="font: size 32px; color: orangered">
          Details submitted successfully!
        </div>
      </form>
    </div>
  </div>
</div>

<div class="container faq" style="margin-top: 80px" id="faq">
  <h1 class="heading-secondary text-center mb-5">Frequently Asked Questions</h1>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          I am a patient and need to make an appointment
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        If you need to contact a doctor, or make an appointment, please use the
        'Find a doctor' feature above, then use the contact details displayed on
        the doctor's profile page.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How do I speak to a doctor over the phone?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        You will be able to speak with the doctor only through a video
        consultation after booking an appointment with him. you cannot directly
        call and talk to a doctor here.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Where can I get the vaccine from? </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Vaccines are available from Government and Private Health Facilities as
        notified, known as COVID Vaccination Centres (CVCs).
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          How do I pre-register myself online for an appointment for
          vaccination?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        You will have to give some basic information about yourself and details
        of your photo identification card to get yourself registered online.
        <br />

        From one mobile phone number, one can register 4 people, however, each
        person will need their own photo identification document. <br />

        If Aadhar card is used as identification document, consent will be
        obtained and recorded. <br />

        Through the portal, you can find out the list of available CVCs and
        dates and time of available vaccination slots, to book an appointment as
        per your choice. You will need an OTP verification prior to registration
        and a confirmation slip/token will be generated after registration. You
        will also get a confirmatory sms later. For all Private Hospitals, prior
        registration and appointment will be the only method of registration.
        <br />

        For Government hospitals, a proportion of slots will be available for
        online registration and appointment, the rest will be kept for on site
        registration and vaccination. <br />

        Appointments for any date for a Vaccination Center will be closed at
        12:00 pm on the day prior to the date.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          What documents are required for registration?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Any of the below mentioned ID with Photo may be produced at the time of
        registration: <br />

        Aadhaar Card <br />
        Driving License <br />
        Health Insurance Smart Card issued under the scheme of Ministry of
        Labour <br />
        Mahatma Gandhi National Rural Employment Guarantee Act (MGNREGA) Job
        Card <br />
        Official identity cards issued to MPs/MLAs/MLCs <br />
        PAN Card <br />
        Passbooks issued by Bank/Post Office <br />
        Passport <br />
        Pension Document <br />
        Service Identity Card issued to employees by Central/ State Govt./
        Public Limited Companies <br />
        Voter ID <br />
        People with comorbidities will have to carry the certificate of
        comorbidities, in the format shared here by a registered medical
        practitioner.
      </p>
    </mat-expansion-panel>

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title>
          Will I get any certificate that I am vaccinated?
        </mat-panel-title>
      </mat-expansion-panel-header>
      <p>
        Yes, a provisional certificate would be provided after the first dose.
        On completion of second dose, when you receive the message for
        completion of schedule it would include a link to download digital
        certificate of vaccination for your perusal. This certificate can be
        then be saved in the digi-locker.
      </p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
